$bg-primary: #efefef;
$bg-tertiary: #fafafa;
$bg-black: #000000;
$bg-white: #ffffff;
$bg-overlay: rgba(0, 0, 0, 0.5);
$bg-transparent-16: rgba(255, 255, 255, 0.16);
$bg-transparent-40: rgba(255, 255, 255, 0.4);
$bg-transparent-60: rgba(255, 255, 255, 0.6);
$bg-footer: #1a1a1a;

$text-primary: #2c2c2c;
$text-secondary: #8b959e;
$text-tertiary: rgba(255, 255, 255, 0.5);
$text-white: #ffffff;

$main-dark-red: #9f1115;
$main-red: #f20e0e;
$main-orange: #fcc22f;
$main-blue: #0d99ff;
$main-dark-green: #22551c;
$main-green: #4cd964;
