$desktop: 1920px;
$laptop: 1280px;
$tablet: 768px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
